node_modules/
backend/node_modules/
mobile/node_modules/

.expo/
.expo-shared/

mobile/android/.cxx/
mobile/android/app/build/
mobile/android/*

.env
.env.*
!.env.example

*.log

dist/
build/

.vscode/
